@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=IBM+Plex+Sans+Thai+Looped:wght@700&family=IBM+Plex+Sans:wght@700&family=Questrial&display=swap');
::-webkit-scrollbar{
    width:0.5vmax;
}

::-webkit-scrollbar-track{
  background: rgb(235, 248, 85);
}

::-webkit-scrollbar-thumb{
    background: #42658a;
}

*{
    margin:0;
    padding:0;
    scroll-behavior:smooth;
}

#loader{
    display:grid;
    background: #faea06;
    height:100%;
    width:100%;
    z-index:10;
    position:fixed;
   }

   #load{
    justify-self: center;
    align-self: center;
    object-fit: contain;
    width:40%;
    height:40%;
    margin-top:-5%;
  }
  

  #navbar {
    display:grid;
    grid-template-columns:  repeat(2,17%);;
    width: 100%;
    height: 5vw;
    background-color: white;
    position: fixed;
  }

  #logo {
    width:10vw;
    height:12vw;
    padding: 0% 0% 0px 30px;
    margin-top:-12%;
    object-fit: contain;
  }

  #part1{
     padding-top:50%;
     background-image: url('https://i.ibb.co/4JqvbTN/Gradient-bg.png');
     background-size:110%;
     background-repeat: no-repeat;
     width:100%;
     margin-bottom:0%;
     display:grid;
  }

  #options{
    display:grid;
    grid-template-columns:  repeat(4,100%);;
    grid-column-gap: 20%;
  }

#box{
  margin-top:8%;
  width:100%;
  height:28%;
  background-color:rgb(243, 255, 69);
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
  transition:0.5s;
  color: black;
  text-decoration:none;
  text-align:center;
  padding-top:5%;
  font-size:clamp(13px, 2vw, 1.5vmax);
  font-family: 'Cabin', sans-serif;
}


#box:hover {
  background-color:rgb(65, 157, 238);
  color: #fff672;
}

#title {
  justify-self: center;
  margin-top:-55%;
  width:90%;
}

#people {
  justify-self: center;
  margin-top:-40%;
  width:95%;
}
h1 {
   text-align:center;
}

h2 {
  text-align:center;
  padding: 2% 0px 5% 0px;
  font-size: 30%;
  color: #faea06;
  font-family: 'IBM Plex Sans', sans-serif;
  text-shadow: 500% 500% #000000;
}

#Login {
  background-color: rgb(22, 158, 255);
  background-size: cover;
  width:100%;
  height:100%;
  font-size:clamp(5px, 0.8vw, 1.0vmax);
}

.line1{
  background-color: blue;
  width:100%;
  padding-top:1.5%;
}

.line2{
  background-color: rgb(255, 200, 0);
  width:100%;
  padding-top:1.5%;
}

.line3{
  background-color: rgb(255, 252, 72);
  width:100%;
  padding-top:1.5%;
}

#forms{
  display:grid;
  justify-content: center;
  grid-template-columns:  repeat(3,30%);
  padding: 0% 0% 10% 4%;
}

.proware{
  background-color: rgb(173, 248, 88);
  width:85%;
  border-radius: 5%;
  display:grid;
  justify-content: center;
}

.student{
  background-color: rgb(255, 200, 0);
  width:85%;
  padding-top:120%;
  border-radius: 5%;
}

.cashier{
  background-color: rgb(255, 200, 0);
  width:85%;
  padding-top:120%;
  border-radius: 5%;
}





